[Unit]
Description=Half-hourly optional compression of remote PCP archives from pmproxy
PartOf=pmproxy.service

[Timer]
# if enabled, runs 15m after boot and every half hour
OnBootSec=15min
OnCalendar=*-*-* *:10:10
OnCalendar=*-*-* *:40:10
Unit=pmproxy_check.service
