[Unit]
Description=Daily rebuild of the PCP pmsearch full-text index
PartOf=pmcd.service

[Timer]
Persistent=true
# if enabled, runs 10m after boot and just after midnight (and after
# the daily local PCP archive processing at 00:10:00 and proxy
# processing at 00:15:00)
OnBootSec=10min
OnCalendar=*-*-* 00:20:00
Unit=pmsearch_index.service

[Install]
WantedBy=timers.target
WantedBy=pmproxy.service
