#
# pmlogger configuration defines what goes in the Primary Logs that are
# maintained in $PCP_LOG_DIR/`hostname`
#

log mandatory on once { hinv.ncpu hinv.ndisk }

log mandatory on 1 hour
    kernel.all.load [ "1 minute" ]

[access]
disallow * : all except enquire;
allow localhost : mandatory, advisory;
