[Unit]
Description=Half-hourly check of PMIE instances

[Timer]
# if enabled, runs 1m after boot and every half hour
OnBootSec=1min
OnCalendar=*-*-* *:28:00
OnCalendar=*-*-* *:58:00

[Install]
WantedBy=timers.target
RequiredBy=pmie.service
