[Unit]
Description=Half-hourly check of pmie farm instances

[Timer]
# if enabled, runs 1m after boot and every half hour
OnBootSec=1min
OnCalendar=*-*-* *:28:10
OnCalendar=*-*-* *:58:10

[Install]
WantedBy=timers.target
RequiredBy=pmie_farm.service
