# https://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.c]
# unfortunately editorconfig doesn't support the project style of mixed tabs
# and spaces yet
indent_style = tabs
indent_size = 8

[*.{py,python,bpf}]
indent_style = spaces
indent_size = 4
trim_trailing_whitespace = true

[*.{yml,json,sh}]
indent_size = 2
indent_style = spaces
trim_trailing_whitespace = true
