*~
*.o
*.a
*.exe
*.swp
*.swo
*.log
Logs
.census
.DS_Store
.gitcensus
.bintrayrc
autom4te.cache
config.status
pcp.lsm
cscope.*
BUILDROOT
base_files.rpm
devel_files
devel_files.rpm
libs_files
libs_files.rpm
debug*.list
gram*.tab.c
pcp-[0-9]*.[0-9]*.[0-9]*
perl-pcp*.list*
python-pcp*.list*
ui_*.h
moc_*.cpp
qrc_*.cpp
debug
release
Makefile
VERSION.pcp.daily
.vagrant
qaresults
