*~
*.o
*.a
*.exe
*.swp
*.swo
*.log
*.dSYM
Logs
.census
.DS_Store
.gitcensus
.bintrayrc
.bintrayrc.*
.qmake.stash
autom4te.cache
config.status
pcp.lsm
cscope.*
BUILDROOT
base_files.rpm
devel_files
devel_files.rpm
libs_files
libs_files.rpm
debug*.list
gram*.tab.c
pcp-[0-9]*.[0-9]*.[0-9]*
perl-pcp*.list*
python-pcp*.list*
python3-pcp*.list*
ui_*.h
moc_*.h
moc_*.cpp
qrc_*.cpp
debug
release
Makefile
VERSION.pcp.daily
.vagrant
qaresults
.idea
GPATH
GRTAGS
GTAGS
#*
*#
.#*
provisioning/osxsierra.legally.ok
*.gdb_history
*vgcore.*