QA output created by 008
Disks:
	[0]: 0 hda
	[1]: 1 sda
	[2]: 2 sdb
	[3]: 4 sdc
	[4]: 5 sdd
	[5]: 6 sde
all drives should be included here
pmResult ... numpmid: 1
  60.0.4 (disk.dev.read): numval: 6 valfmt: 1 vlist[]:
    inst [0 or "hda"] value ...
    inst [1 or "sda"] value ...
    inst [2 or "sdb"] value ...
    inst [4 or "sdc"] value ...
    inst [5 or "sdd"] value ...
    inst [6 or "sde"] value ...

no drives should be included here
pmResult ... numpmid: 1
  60.0.4 (disk.dev.read): No values returned!

only the first and last drive should be included here
pmResult ... numpmid: 1
  60.0.4 (disk.dev.read): numval: 2 valfmt: 1 vlist[]:
    inst [0 or "hda"] value ...
    inst [6 or "sde"] value ...

all except drive zero should be included here
pmResult ... numpmid: 1
  60.0.4 (disk.dev.read): numval: 5 valfmt: 1 vlist[]:
    inst [1 or "sda"] value ...
    inst [2 or "sdb"] value ...
    inst [4 or "sdc"] value ...
    inst [5 or "sdd"] value ...
    inst [6 or "sde"] value ...

drive zero ONLY should be included here
pmResult ... numpmid: 1
  60.0.4 (disk.dev.read): numval: 1 valfmt: 1 vlist[]:
    inst [0 or "hda"] value ...
all drives should be included here
pmResult ... numpmid: 1
  60.0.4 (disk.dev.read): numval: 6 valfmt: 1 vlist[]:
    inst [0 or "hda"] value ...
    inst [1 or "sda"] value ...
    inst [2 or "sdb"] value ...
    inst [4 or "sdc"] value ...
    inst [5 or "sdd"] value ...
    inst [6 or "sde"] value ...

no drives should be included here
pmResult ... numpmid: 1
  60.0.4 (disk.dev.read): No values returned!

only the first and last drive should be included here
pmResult ... numpmid: 1
  60.0.4 (disk.dev.read): numval: 2 valfmt: 1 vlist[]:
    inst [0 or "hda"] value ...
    inst [6 or "sde"] value ...

all except drive zero should be included here
pmResult ... numpmid: 1
  60.0.4 (disk.dev.read): numval: 5 valfmt: 1 vlist[]:
    inst [1 or "sda"] value ...
    inst [2 or "sdb"] value ...
    inst [4 or "sdc"] value ...
    inst [5 or "sdd"] value ...
    inst [6 or "sde"] value ...

drive zero ONLY should be included here
pmResult ... numpmid: 1
  60.0.4 (disk.dev.read): numval: 1 valfmt: 1 vlist[]:
    inst [0 or "hda"] value ...
