# common PCP QA configuration parameters
#
# NOTE	each local site will need to either add stuff in here or have
#	a local version of this file
#
# Copyright (c) 1997-2002 Silicon Graphics, Inc.  All Rights Reserved.
#
# $Id: common.config,v 1.32 2005/06/23 07:38:16 pcpqa Exp $
#

. ./localconfig

# The ones of interest
#
# PCPQA_CLOSE_X_SERVER
#       host running an X server that allows remote X11 requests and
#       has a low-latency network connection to where the tests are
#	being run
#
# PCPQA_FAR_PMCD
#	a remote host across the Pacific that should be running pmcd(1)
#
# PCPQA_HYPHEN_HOST
#	a remote host that has a hyphen (-) in the hostname and is running
#	pmcd(1) ... you may need to make a local alias in /etc/hosts or
#	equivalent if you don't have a real valid hostname like this.
#
# PCPQA_SOCKS_SERVER
#	the local "socks" server to be used with pmsocks(1) ... may be
#	a hostname or an IP address
#
# PCPQA_CISCO_ROUTER
#	a cisco router that can be monitored with pmdacisco during QA
#

# domain-based defaults
#
domain=`_get_fqdn | sed -e 's/[^.][^.]*\.//'`

case "$domain"
in
    engr.sgi.com)
	PCPQA_CLOSE_X_SERVER=${PCPQA_CLOSE_X_SERVER:-groan:0}
	PCPQA_FAR_PMCD=${PCPQA_FAR_PMCD:-snort.melbourne.sgi.com}
	PCPQA_HYPHEN_HOST=${PCPQA_HYPHEN_HOST:-gate-babylon}
	PCPQA_SOCKS_SERVER=sgigate.sgi.com
	PCPQA_CISCO_ROUTER=melbourne-l0.wan.sgi.com
	;;
    melbourne.sgi.com)
	PCPQA_CLOSE_X_SERVER=${PCPQA_CLOSE_X_SERVER:-rattle:0}
	PCPQA_FAR_PMCD=${PCPQA_FAR_PMCD:-babylon.engr.sgi.com}
	# foo-bar.melbourne is also known as ptg-gate.melbourne
	PCPQA_HYPHEN_HOST=${PCPQA_HYPHEN_HOST:-foo-bar.melbourne.sgi.com}
	PCPQA_SOCKS_SERVER=sgigate.sgi.com
	PCPQA_CISCO_ROUTER=melbourne-l0.wan.sgi.com
	;;
    scott.net.au)
	PCPQA_CLOSE_X_SERVER=:xserver:0
	PCPQA_FAR_PMCD=farawaypmcd.scott.net.au
	PCPQA_HYPHEN_HOST=some-host.scott.net.au
	PCPQA_SOCKS_SERVER=mysocksserver.scott.net.au
	;;
    localdomain)
	PCPQA_CLOSE_X_SERVER=:0.0
	PCPQA_FAR_PMCD=bozo
	PCPQA_HYPHEN_HOST=bozo-laptop
	;;
    *)
	# need to set up these assignments if you're not running in one
	# of the DNS domains above
	#
	PCPQA_CLOSE_X_SERVER=${PCPQA_CLOSE_X_SERVER:-close_x_server}
	PCPQA_HYPHEN_HOST=${PCPQA_HYPHEN_HOST:-some-host}
	PCPQA_FAR_PMCD=${PCPQA_FAR_PMCD:-far_away_pmcd}
	PCPQA_SOCKS_SERVER=${PCPQA_SOCKS_SERVER:-my_socks_server}
	PCPQA_CISCO_ROUTER=${PCPQA_CISCO_ROUTER:-cisco_router}
	;;

esac

# Use local X server if you can suss one out
#
if [ $PCP_PLATFORM = linux ]
then
    if ps -ef | egrep '([X]11/X )|( [X] :0)' >/dev/null 2>&1
    then
	PCPQA_CLOSE_X_SERVER=:0
    fi
elif [ $PCP_PLATFORM = solaris ]
then
    if ps -ef | grep '[X]11/X ' >/dev/null 2>&1
    then
	PCPQA_CLOSE_X_SERVER=:0
    fi

elif [ $PCP_PLATFORM = irix ]
then
    if ps -ef | grep '[X]11/Xsgi ' >/dev/null 2>&1
    then
	PCPQA_CLOSE_X_SERVER=:0
    fi
fi

# export 'em
#
export PCPQA_CLOSE_X_SERVER
