[Unit]
Description=Half-hourly check for PCP archive loggers (non-primary and remote hosts)

[Timer]
# if enabled, runs 1m after boot and every half hour
OnBootSec=1min
OnCalendar=*-*-* *:25:00
OnCalendar=*-*-* *:55:00

[Install]
WantedBy=timers.target
RequiredBy=pmlogger.service
