[Unit]
Description=5 minute check of pmlogger farm instances

[Timer]
# if enabled, runs 1m after boot and every 2 mins
OnBootSec=1min
OnCalendar=*:00/2

[Install]
WantedBy=timers.target
RequiredBy=pmlogger_farm.service pmlogger_farm_check.service
