[Unit]
Description=Daily processing of local PCP archives

[Timer]
Persistent=true
OnCalendar=*-*-* 00:10:00

[Install]
WantedBy=timers.target
RequiredBy=pmlogger.service
