[Unit]
Description=Hourly polling of system activity report generation

[Timer]
OnCalendar=*-*-* *:30:00

[Install]
WantedBy=timers.target
RequiredBy=pmlogger_daily_report.service
