[Desktop Entry]
Encoding=UTF-8
Name=PCP Chart
Comment=Strip Chart tool for plotting Performance Co-Pilot metrics.
Exec=kmchart
Icon=kmchart.png
Terminal=false
Type=Application
Categories=System;Utility;
