[Desktop Entry]
Name=PCP Charts
Comment=Strip Chart tool for plotting Performance Co-Pilot metrics.
Exec=pmchart
Icon=pmchart.png
Terminal=false
Type=Application
Categories=System;Utility;
Encoding=UTF-8
