
policy_module(pcp, 1.0)

require {
	type dovecot_t;
	type pcp_pmcd_t;
	type pcp_pmlogger_t;
	type init_t;
	type pcp_var_lib_t;
	type configfs_t;
	type pcp_log_t;
	class lnk_file { getattr read };
	class file { append create execute execute_no_trans getattr ioctl open read write };
	class capability kill;
	class dir { add_name read write };
}

#============= dovecot_t ==============
virt_exec_sandbox_files(dovecot_t)
virt_manage_sandbox_files(dovecot_t)

#============= init_t ==============
allow init_t pcp_log_t:dir read;
allow init_t pcp_log_t:file getattr;
allow init_t pcp_var_lib_t:dir { add_name read write };
allow init_t pcp_var_lib_t:file { append create execute execute_no_trans getattr ioctl open read write };
allow init_t pcp_var_lib_t:lnk_file read;
files_read_generic_tmp_files(init_t)

#============= pcp_pmcd_t ==============

#!!!! The file '/sys/kernel/config/target/iscsi/iqn.2003-01.com.pcpio.test:iscsi-gateway/tpgt_1/lun/lun_2/1b1351bd5c' is mislabeled on your system.  
#!!!! Fix with $ restorecon -R -v /sys/kernel/config/target/iscsi/iqn.2003-01.com.pcpio.test:iscsi-gateway/tpgt_1/lun/lun_2/1b1351bd5c
allow pcp_pmcd_t configfs_t:lnk_file { getattr read };
container_stream_connect(pcp_pmcd_t)
files_delete_all_pids(pcp_pmcd_t)
files_read_kernel_modules(pcp_pmcd_t)
fs_manage_configfs_dirs(pcp_pmcd_t)
fs_manage_configfs_files(pcp_pmcd_t)
kernel_read_net_sysctls(pcp_pmcd_t)
kernel_search_network_sysctl(pcp_pmcd_t)
libs_ldconfig_exec_entry_type(pcp_pmcd_t)
modutils_list_module_config(pcp_pmcd_t)
modutils_read_module_config(pcp_pmcd_t)
userdom_mmap_user_home_content_files(pcp_pmcd_t)
virt_exec_sandbox_files(pcp_pmcd_t)
virt_list_sandbox_dirs(pcp_pmcd_t)

#============= pcp_pmlogger_t ==============
allow pcp_pmlogger_t self:capability kill;
dev_write_kmsg(pcp_pmlogger_t)
init_status(pcp_pmlogger_t)
unconfined_signal(pcp_pmlogger_t)
