# mostly this needs to be matched against the GNUmakefile ... anything
# cleaned up in "make clobber" should also be mentioned here ...
#
*.o
779246
agenttimeout
archinst
arch_maxfd
badloglabel
badpmcdpmid
bar.0
bar.index
bar.meta
bigbin.0
bigbin.index
bigbin.meta
broken_pmda_2_0
broken_pmda_2_1
broken_pmda_2_2
broken_pmda_2_3
broken_pmda_2_4
broken_pmda_2_5
broken_pmda_?_?.c
broken_v2.dir
broken_v2.pag
chkacc1
chkacc2
chkacc3
chkconnect
chkctx2
chkctx2_lite
chkctx2_lite.c
chkhelp
chk_memleak
chk_metric_types
chknumval
chkopenlog
chkoptfetch
chktrim
clientid
compare
context_fd_leak
context_test
crashpmcd
defctx
descreqX2
disk_test
dodgey-all.0
dodgey-all.index
dodgey-all.meta
dodgey-mixed.0
dodgey-mixed.index
dodgey-mixed.meta
dodgey-some.0
dodgey-some.index
dodgey-some.meta
domain.h
dumb_pmda
endian
eofarch
eol
exercise
exertz
fetchpdu
fetchrate
fetchrate_lite
fetchrate_lite.c
foo.0
foo.index
foo.meta
gap.0
gap2.0
gap2.index
gap2.meta
gap.index
gap.meta
grind_ctx
hex2nbo
hp-mib
indom
interp0
interp.0
interp1
interp2
interp3
interp4
interp_bug
interp_bug2
interp.index
interp.meta
ipc
killparent
localconfig.h
logcontrol
mark-bug
matchInstanceName
mkfiles
mmv_dumpstats
mmv_genstats
mmv_instances
multifetch
mv-bar.[0-9]
mv-bar.index
mv-bar.meta
mv-bigbin.[0-9]
mv-bigbin.index
mv-bigbin.meta
mv-foo.[0-9]
mv-foo.index
mv-foo.meta
mv-interp.[0-9]
mv-interp.index
mv-interp.meta
nameall
noti-bar.0
noti-bar.meta
noti-bigbin.0
noti-bigbin.meta
noti-foo.0
noti-foo.meta
noti-interp.0
noti-interp.meta
noti-ok-foo.0
noti-ok-foo.meta
null.0
null.index
nullinst
null.meta
numberstr
obs
parseinterval
parsemetricspec
pcp_lite_crash
pducheck
pdu-server
permfetch
pmcdgone
pmconvscale
pmdashutdown
pmlcmacro
pmnsinarchives
pmnsunload
pmpost-exploit
pmprintf
pmsocks_objstyle
pmtimezone.so
proc_test
pv
pv64
pv64.c
read-bf
real_broken_pmns
recon
record
record-setarg
reduce-gap.0
reduce-gap.index
reduce-gap.meta
scale
slow_af
store
storepast
storepdu
stripmark
tabort
template
t_fetch
torture_api
torture_cache
torture-eol
torture_indom
torture_pmns
torture_trace
truncbin.0
truncbin.index
truncbin.meta
tstate
tztest
whichtimezone
wrap_int
write-bf
xarch
xlog
xmktime
xval
xxx
