log mandatory on default {
# instantaneous constant value
    sample.load
    sample.longlong
    sample.float
    sample.double
# instantaneous drifting value
    sample.drift
# constant counter, singular value
    sample.milliseconds
# constant counter and reset, with instance domain
    sample.colour
# non-constant counter
    sample.step_counter
# wrap a lot
    sample.wrap.ulong
    sample.wrap.longlong
# cannot deal with these
    sample.string
    sample.aggregate
}
