#!/bin/sh
#
# generate control preamble from control.master
#
tmp=/var/tmp/$$
trap "rm -f $tmp.*; exit 0" 0 1 2 3 15


# dh-python not always available, similarly for libpapi-dev and libpfm4-dev
#
rm -f $tmp.dh-python.no $tmp.libpapi-dev $tmp.libpfm4-dev

if [ -f /etc/os-release ]
then
    NAME=`sed -n -e 's/"//'g -e '/^NAME=/s/NAME=//p' </etc/os-release`
    if [ "$NAME" = "Debian GNU/Linux" ]
    then
	VERSION_ID=`sed -n -e 's/"//'g -e '/^VERSION_ID=/s/VERSION_ID=//p' </etc/os-release`
	case "$VERSION_ID"
	in
	    7)
		touch $tmp.dh-python.no
		;;
	esac
    elif [ "$NAME" = "Ubuntu" ]
    then
	VERSION_ID=`sed -n -e 's/"//'g -e '/^VERSION_ID=/s/VERSION_ID=//p' </etc/os-release`
	case "$VERSION_ID"
	in
	    12.04|12.10|13.04)
		touch $tmp.dh-python.no
		touch $tmp.libpapi-dev.no
		touch $tmp.libpfm4-dev.no
		;;
	esac
    fi
elif [ -f /etc/debian_version ]
then
    VERSION_ID=`cat /etc/debian_version`
    case "$VERSION_ID"
    in
	6.*)
	    touch $tmp.dh-python.no
	    ;;
    esac
fi

for pkg in dh-python libpapi-dev libpfm4-dev
do
    if [ -f $tmp.$pkg.no ]
    then
	echo "s/?{$pkg}//" >>$tmp.sed
    else
	echo "s/?{$pkg}/$pkg,/" >>$tmp.sed
    fi
done

sed -f $tmp.sed <control.master
