#!/bin/sh
#
# generate control preamble from control.master
#
tmp=/var/tmp/$$
trap "rm -f $tmp.*; exit 0" 0 1 2 3 15


# dh-python not always available ... this is not checked for in configure
# so have to base it on the platform type and version
#
rm -f $tmp.no

if [ -f /etc/os-release ]
then
    NAME=`sed -n -e 's/"//'g -e '/^NAME=/s/NAME=//p' </etc/os-release`
    if [ "$NAME" = "Debian GNU/Linux" ]
    then
	VERSION_ID=`sed -n -e 's/"//'g -e '/^VERSION_ID=/s/VERSION_ID=//p' </etc/os-release`
	case "$VERSION_ID"
	in
	    7)
		touch $tmp.no
		;;
	esac
    elif [ "$NAME" = "Ubuntu" ]
    then
	VERSION_ID=`sed -n -e 's/"//'g -e '/^VERSION_ID=/s/VERSION_ID=//p' </etc/os-release`
	case "$VERSION_ID"
	in
	    12.04|12.10|13.04)
		touch $tmp.no
		;;
	esac
    fi
elif [ -f /etc/debian_version ]
then
    VERSION_ID=`cat /etc/debian_version`
    case "$VERSION_ID"
    in
	6.*)
	    touch $tmp.no
	    ;;
    esac
fi

if [ -f $tmp.no ]
then
    echo "s/?{dh-python}//" >>$tmp.sed
else
    echo "s/?{dh-python}/dh-python,/" >>$tmp.sed
fi

# for some others we rely on what configure has discovered
#
if [ ! -f ../src/include/builddefs ]
then
    echo "fixcontrol.master: Botch: ../src/include/builddefs does not exist"
    exit 1
fi

eval `egrep '^(ENABLE_|PMDA_|HAVE_|QT_)' ../src/include/builddefs | sed -e 's/ //g'`

if $PMDA_PERFEVENT
then
    echo "s/?{libpfm4-dev}/libpfm4-dev,/" >>$tmp.sed
else
    echo "s/?{libpfm4-dev}//" >>$tmp.sed
fi

if $PMDA_BCC
then
    echo "s/?{python3-bpfcc}/python3-bpfcc | python3-bcc,/" >>$tmp.sed
else
    echo "s/?{python3-bpfcc}//" >>$tmp.sed
fi

if $ENABLE_PYTHON3
then
    echo "s/?{python-pcp}/python3-pcp,/" >>$tmp.sed
    echo "s/?{python}/python3,/" >>$tmp.sed
else
    echo "s/?{python-pcp}/python-pcp,/" >>$tmp.sed
    echo "s/?{python}/python,/" >>$tmp.sed
fi

if $HAVE_PYTHON_JSONPOINTER
then
    if $ENABLE_PYTHON3
    then
	echo "s/?{python-json-pointer}/python3-json-pointer,/" >>$tmp.sed
    else
	echo "s/?{python-json-pointer}/python-json-pointer,/" >>$tmp.sed
    fi
else
    echo "s/?{python-json-pointer}//" >>$tmp.sed
fi

if $HAVE_PYTHON_REQUESTS
then
    if $ENABLE_PYTHON3
    then
	echo "s/?{python-requests}/python3-requests,/" >>$tmp.sed
    else
	echo "s/?{python-requests}/python-requests,/" >>$tmp.sed
    fi
else
    echo "s/?{python-requests}//" >>$tmp.sed
fi

if $HAVE_PYTHON_SIX
then
    if $ENABLE_PYTHON3
    then
	echo "s/?{python-six}/python3-six,/" >>$tmp.sed
    else
	echo "s/?{python-six}/python3-six,/" >>$tmp.sed
    fi
else
    echo "s/?{python-six}//" >>$tmp.sed
fi

if $HAVE_BOOST
then
    echo "s/?{libboost-dev}/libboost-dev,/" >>$tmp.sed
else
    echo "s/?{libboost-dev}//" >>$tmp.sed
fi

if [ -n "$LIB_FOR_LZMA" ]
then
    echo "s/?{liblzma-dev}/liblzma-dev,/" >>$tmp.sed
else
    echo "s/?{liblzma-dev}//" >>$tmp.sed
fi

if [ "$QT_VERSION" -ge 5 ]
then
    echo "s/?{qt-dev}/qtbase5-dev, qtbase5-dev-tools, libqt5svg5-dev, qtchooser,/" >>$tmp.sed
elif [ "$QT_VERSION" -ge 4 ]
then
    echo "s/?{qt-dev}/libqt4-dev, qt4-qmake,/" >>$tmp.sed
else
    echo "s/?{qt-dev}//" >>$tmp.sed
fi

sed -f $tmp.sed <control.master
