#!/usr/bin/make -f

# verbose output from dpkg-buildpackage
export DEB_BUILD_OPTIONS=debug
# debhelper verbose mode
export DH_VERBOSE=yes

# Standard debhelper compatibility level
export DH_OPTIONS =

# expect this to be something like ../build/deb/pcp-X.Y.Z
here := $(shell pwd)

# some globals we need
#
export GZIP = -9qn
export DIST_TMPFILES = $(here)/install.tmpfiles
export DIST_ROOT = $(here)/debian/pcp
export NO_CHOWN=true

configure_tools = export QT_SELECT=5;
# Note: configure options come from $(configure_paths) _plus_ any
#       passed in from the environment via $(configure_opts)
# Makepkgs uses the latter mechanism to refine the configure options
# but for distro builds $(configure_opts) is not set in the environment
# and defaults to --with-non-debug=yes (so assert() is a no-op)
#
ifeq "$(configure_opts)" ""
configure_opts = --with-non-debug=yes
endif
configure_paths = --prefix=/usr --libexecdir=/usr/lib --sysconfdir=/etc --localstatedir=/var --with-rcdir=/etc/init.d --with-sysconfigdir=/etc/default --with-zip=/bin/gzip --with-tar=/bin/tar SED=/bin/sed ECHO=/bin/echo QMAKE=/usr/bin/qmake MAKEDEPEND=/bin/true BZIP2=/bin/bzip2

%:
	dh $@

# pass in all our configure magic
#
override_dh_auto_configure:
	$(configure_tools) \
        ./configure $(configure_paths) $(configure_debug) $(configure_opts)

# need some extra work here ...
#
override_dh_clean:
	dh_clean
	# stuff we leave behind after make clean
	-rm -f qa/localconfig

# post-auto-install flags
# -v => report per-package processing of .install (or other filelist) and
#	.dirs
# -v -v => as above plus report /* trimming from *.install, glob expansion
# 	from *.install
# -v -v -v => as above plus dump tarball contents used for copying from
# 	pcp into the other packages
#
override_dh_auto_install:
	dh_auto_install --destdir=debian/pcp
	ls -l debian/pcp/usr/lib/pcp/bin/pcp-summary
	debian/post-auto-install -v -v -v
	ls -l debian/pcp/usr/lib/pcp/bin/pcp-summary

# nothing to do here, all done in override_dh_auto_install
# (really debian/post-auto-install)
#
override_dh_install:

# we have some "special" cases
override_dh_fixperms:
	dh_fixperms -Xvar/lib/pcp/tmp -Xvar/lib/pcp/pmcd -Xusr/lib/pcp/bin

override_dh_auto_test:
	# make check here fails for some man pages but does not fail
	# outside the build
	# TODO - understand and fix this

