# Copyright (c) 2000,2004 Silicon Graphics, Inc.  All Rights Reserved.
#
# pmlogger(1) configuration file suitable for creating an archive to be
# used with pmstat(1)
#

log advisory on default {
    kernel.all.load
    swap.used
    mem.util.free
    mem.util.bufmem
    mem.bufmem
    mem.util.cached
    swap.in
    swap.pagesin
    swap.out
    swap.pagesout
    disk.all.blkread
    disk.all.blkwrite
    kernel.all.intr
    kernel.all.intr.non_vme
    kernel.all.pswitch
    kernel.all.cpu
}

