# Build artifacts
dev/pmdadarwin
dev/pmda_darwin.dylib
dev/*.o
dev/*.log
dev/domain.h
dev/*.dSYM/

# Local PCP development environment (created by setup-local-pcp.sh)
dev/local-pcp.conf
dev/local-pcp-var/

# Test outputs
test/**/*.out
test/**/*.log
test/**/tmp.*
