
# these files are created by the PMDA install process
pmdasnmp.1
domain.h
pmns

# this log file is created when hand running the module to test it
snmp.log

# This is the exported PDF version of the presentation
snmp2pcp.pdf
