# Simple, first pass at a config file.  I expect to need a more expressive
# file format in the future

# hashes begin comments
# comments can begin in the # middle of a line

# define a host
#host $type $hostname $communitiy
host v2c 127.0.0.1 public

# load a mib
#mib $mibfilename

# static mapping
#map [$hostname]:$oid $pcpval[:$pcpinst] [$maxval]

# define the high water mark
#maxstatic $pcpval

