#
# pmlogger(1) configuration file suitable for creating an archive to be
# used with pmclient(1)
#

log mandatory on once {
    hinv.ncpu
}

log mandatory on 5 secs {
    kernel.all.load [ "1 minute", "15 minute" ]
    kernel.percpu.cpu.user
    kernel.percpu.cpu.sys
    mem.freemem
    disk.all.total
}
