#
# pmlogger(1) configuration file suitable creating an archive to be
# used with pmkstat(1)
#

log advisory on default {
    kernel.all.load
    kernel.all.cpu.user
    kernel.all.cpu.sys
    kernel.all.cpu.sxbrk
    kernel.all.cpu.intr
    kernel.all.cpu.idle
    kernel.all.cpu.wait.total
    mem.freemem
    kernel.all.runque
    kernel.all.runocc
    kernel.all.swap.swpque
    kernel.all.swap.swpocc
    swap.pagesout
    kernel.all.syscall
    kernel.all.pswitch
    kernel.all.intr.non_vme
    disk.all.read
    disk.all.write
}
