*.bad
*.full
check.log
check.time
pmlogger.log
src/qmc_context/qmc_context
src/qmc_desc/qmc_desc
src/qmc_dynamic/qmc_dynamic
src/qmc_event/qmc_event
src/qmc_format/qmc_format
src/qmc_group/qmc_group
src/qmc_hosts/qmc_hosts
src/qmc_indom/qmc_indom
src/qmc_metric/qmc_metric
src/qmc_source/qmc_source
