# mostly this needs to be matched against the GNUmakefile ... anything
# cleaned up in "make clobber" should also be mentioned here ...
#
.rnd
/*.full
/*.notrun
/*.full.ok
/*.out.bad
/*.bak
/*.new
/*.raw
/*.log
/*.log.prev
/*.bz2
tmp/*
big1.*
tls.conf/*
134.full.*
051.work/*
121.full.cull
121.full.in
121.full.out
151.work/*
bpftrace/__pycache__/*
check.onetrip
check.out
check.log
check.callback
pmlogger.log
webapi-host*
webapi-pmcd-*
webapi-webd-*
check.time
check.timings
localconfig
localconfig.h
pcpqa.installed
pcp-testsuite.pp
qa_hosts
qa_outfiles
rc_cron_check.clean
stap_*.ko
sudo
008.out
012.out
019.out
022.out
023.out
031.out
033.out
044.out
051.out
062.out
066.out
067.out
069.out
074.out
126.out
130.out
149.out
172.out
188.out
215.out
243.out
244.out
250.out
255.out
262.out
287.out
294.out
298.out
338.out
365.out
367.out
370.out
375.out
419.out
422.out
451.out
480.out
501.out
519.out
555.out
565.out
570.out
574.out
580.out
587.out
600.out
605.out
660.out
661.png
740.out
798.out
905.out
919.out
926.out
944.out
1051.out
1067.out
1251.out
1411.out
1414.out
1623.out
1740.out
