# common PCP QA configuration parameters
#
# NOTE	each local site will need to either add stuff in here or have
#	a local version of this file
#
# Copyright (c) 1997-2002 Silicon Graphics, Inc.  All Rights Reserved.
#

. ./localconfig

# The ones of interest
#
# PCPQA_CLOSE_X_SERVER
#       host running an X server that allows remote X11 requests and
#       has a low-latency network connection to where the tests are
#	being run
#	Can safely be left unset.
#
# PCPQA_FAR_PMCD
#	a remote host a long way away that should be running pmcd(1)
#	(was important when latency over the slow internet was an
#	issue)
#	Can safely be left unset.
#
# PCPQA_HYPHEN_HOST
#	a remote host that has a hyphen (-) in the hostname and is running
#	pmcd(1) ... you may need to make a local alias in /etc/hosts or
#	equivalent if you don't have a real valid hostname like this.
#	Can safely be left unset.
#
# PCPQA_SOCKS_SERVER
#	the local "socks" server to be used with pmsocks(1) ... may be
#	a hostname or an IP address
#	Can safely be left unset.
#
# PCPQA_CISCO_ROUTER
#	a cisco router that can be monitored with pmdacisco during QA
#	Can safely be left unset.
#

# domain-based defaults
#
__domain=`_get_fqdn | sed -e 's/[^.][^.]*\.//'`

PCPQA_CLOSE_X_SERVER=${PCPQA_CLOSE_X_SERVER:-''}
PCPQA_FAR_PMCD=${PCPQA_FAR_PMCD:-''}
PCPQA_HYPHEN_HOST=${PCPQA_HYPHEN_HOST:-''}
PCPQA_CISCO_ROUTER=${PCPQA_CISCO_ROUTER:-''}
PCPQA_SOCKS_SERVER=$PCPQA_SOCKS_SERVER:-''}
PCPQA_CISCO_ROUTER=${PCPQA_CISCO_ROUTER:-''}

case "$__domain"
in
    engr.acx)
	PCPQA_CLOSE_X_SERVER=:0
	PCPQA_FAR_PMCD=${PCPQA_FAR_PMCD:-web1.drp.acx}
	PCPQA_HYPHEN_HOST=${PCPQA_HYPHEN_HOST:-nathan-laptop}
	PCPQA_CISCO_ROUTER=${PCPQA_CISCO_ROUTER:-cisco}
	;;

    scott.net.au)
	PCPQA_CLOSE_X_SERVER=:0
	PCPQA_FAR_PMCD=${PCPQA_FAR_PMCD:-verge}
	PCPQA_HYPHEN_HOST=${PCPQA_HYPHEN_HOST:-debian-laptop}
	PCPQA_CISCO_ROUTER=${PCPQA_CISCO_ROUTER:-cisco_router}
	;;

    localdomain|localhost|local|\(none\))
	case "`hostname | sed -e 's/\..*//'`"
	in
	    bozo-vm)
		PCPQA_HYPHEN_HOST=bozo-vm.localdomain
		PCPQA_CLOSE_X_SERVER=:0.0
		PCPQA_SOCKS_SERVER=
		;;
	    bozo|vm*)
		PCPQA_HYPHEN_HOST=bozo-vm.localdomain
		# use bozo for socks and X11 server (unless set already and
		# working)
		#
		if [ -n "$DISPLAY" ]
		then
		    # set
		    if which xdpyinfo >/dev/null 2>&1
		    then
			if xdpyinfo >/dev/null 2>&1
			then
			    # OK
			    #
			    :
			else
			    # looks like $DISPLAY is getting us to an X11 server
			    #
			    unset DISPLAY
			fi
		    else
			# if xdpyinfo is not here, assume $DISPLAY is bogus
			#
			unset DISPLAY
		    fi
		fi
		# X11 server is on vm36 (ipaddr 192.168.178.236)
		PCPQA_CLOSE_X_SERVER=${DISPLAY-192.168.178.236:0}
		# currently not working on bozo (ipaddr 192.168.178.100)
		PCPQA_SOCKS_SERVER=192.168.178.100
		;;

	    # add settings here for your host if the domain is
	    # localdomain, localhost, local or (none)
	    #
	    #myhost)
		# ...
		# ;;

	esac
	;;

    gateway) # mgoodwin
	PCPQA_CLOSE_X_SERVER=:0
	PCPQA_FAR_PMCD=${PCPQA_FAR_PMCD:-f31}
	PCPQA_HYPHEN_HOST=${PCPQA_HYPHEN_HOST:-f31-qa.gateway}
	;;

    # add settings for your domain here if needed
    #
    #mydomain)
	# ...
	# ;;

esac
