
module pcpqa 1.0;

require {
	type user_home_t;
	type hostname_exec_t;
	type pcp_pmcd_t;
	class file { map write };
}

#============= pcp_pmcd_t ==============

#type=AVC msg=audit(qa/255): avc:  denied  { map } for  pid=10604 comm="broken_pmda_2_0" path="/home/kenj/src/pcp/qa/pmdas/broken/broken_pmda_2_0" dev="dm-0" ino=295211 scontext=system_u:system_r:pcp_pmcd_t:s0 tcontext=unconfined_u:object_r:user_home_t:s0 tclass=file permissive=0
#type=AVC msg=audit(qa/457): avc:  denied  { write } for  pid=31411 comm="457.pipe" name="457.pipe.pid" dev="dm-0" ino=295231 scontext=system_u:system_r:pcp_pmcd_t:s0 tcontext=unconfined_u:object_r:user_home_t:s0 tclass=file permissive=0
allow pcp_pmcd_t user_home_t:file { map write };

#type=AVC msg=audit(qa/597): avc:  denied  { map } for  pid=27238 comm="hostname" path="/usr/bin/hostname" dev="dm-0" ino=4735 scontext=system_u:system_r:pcp_pmcd_t:s0 tcontext=system_u:object_r:hostname_exec_t:s0 tclass=file permissive=0
allow pcp_pmcd_t hostname_exec_t:file map;
