#
# master version of likely victim hosts for PCP QA
#
# entries are fully qualified domain names, in any order
# the only pre-requisite is that they be running some version of PCP.
#

# Kenj Section
bozo.localdomain
# not available at Rye bozo-laptop.localdomain
vm01.localdomain
vm03.localdomain
vm35.localdomain

# SGI Section
grundy.sgi.com

# Nathans Section
smash.scott.net.au
verge.scott.net.au
slick.scott.net.au
sweet.scott.net.au
cloud.scott.net.au
crack.scott.net.au
munch.scott.net.au
crunch.scott.net.au
bounce.scott.net.au
splash.scott.net.au
boing.scott.net.au
splat.scott.net.au
squish.scott.net.au
thing1.scott.net.au
thing2.scott.net.au

# Mark's section
moonah.gateway
moonahqa.qa
rhel74.qa
f27.qa
f27-clone.qa
# pcp.usersys.redhat.com
# goody.usersys.redhat.com

# sort control lines
# each line here is a specification that includes the keyword #order and
# then two or more strings in the style of fgrep
#
# the first string is used to attempt a match with the fully qualified
# domain name of the host host running the QA
#
# subsequent strings select entries from the list of hosts above in order
# of increasing preference ... any unmatched hosts are not included

# tag	QA host?		1st choice		2nd choice	...
# SGI Section
#order	.melbourne.sgi		.melbourne.sgi		.engr.sgi.com
#order	.engr.sgi.com		.engr.sgi.com		.melbourne.sgi
#order	.americas.sgi.com	.americas.sgi.com	.engr.sgi.com	.melbourne.sgi
#order	.sgi.com		.sgi.com
# Nathans Section
#order	.scott.net.au		.scott.net.au
# Kenj Section
#order	.localdomain		.localdomain
# Mark's Section
#order	.gateway		.qa
#order	.usersys.redhat.com	.usersys.redhat.com
